@using Nop.Web.Framework
@using GalleryModel = Nop.Plugin.Widgets.Gallery.Models.ConfigurationGalleryImagesModel;

@model Nop.Plugin.Widgets.Gallery.Models.ConfigurationGalleryImagesModel
@{
    Layout = "/Administration/Views/Shared/_AdminLayout.cshtml";
}
@{
    //page title
    ViewBag.Title = T("Plugin.Widgets.Gallery.EditGalleryImagesDetails").Text;
}
@using (Html.BeginForm("EditImage", "GalleryConfigure", FormMethod.Post, new { id = "gallery-image-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Plugin.Widgets.Gallery.EditGalleryImagesDetails") - @Model.Name @Html.ActionLink("(" + T("Plugin.Widgets.Gallery.BackToImagesList") + ")", "ImagesList", new { area = ""})
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Plugin.Widgets.Gallery.Save")" />
            <span id="gallery-image-delete" class="k-button">@T("Plugin.Widgets.Gallery.Delete")</span>
        </div>
    </div>
    @Html.Partial("~/Plugins/Widgets.Gallery/Views/GalleryConfigure/_CreateOrUpdateImage.cshtml", Model)
}
@Html.DeleteConfirmation("DeleteImage","gallery-image-delete")