@model CatalogPagingFilteringModel.SpecificationFilterModel
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var alreadyFilteredItemsGroups = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}
@if (Model.Enabled)
{
    <div class="floorCount form-group" data-url="@Model.RemoveFilterUrl">
        @if (Model.NotFilteredItems.Count > 0)
        {
            foreach (var group in notFilteredItemsGroups)
            {
                var groupList = group.ToList();
                <h3 class="floorTitle">
                    @groupList[0].SpecificationAttributeName
                </h3>
                foreach (var spec in groupList)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="blankCheckbox" data-id="@spec.Id" value="option1" aria-label="...">@spec.SpecificationAttributeOptionName
                        </label>
                    </div>
                }
            }
        }
        @if (Model.AlreadyFilteredItems.Count > 0)
        {
            <div class="filtered-items">
                <ul>
                    <li class="title">
                        @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                    </li>
                    @foreach (var group in alreadyFilteredItemsGroups)
                    {
                        <li class="item">
                            <strong>@group.First().SpecificationAttributeName</strong>:
                            @group.ToList().Aggregate(string.Empty, (current, next) =>
                                    string.Format("{0}{1}", string.IsNullOrEmpty(current) ? string.Empty
                                    : string.Format("{0} {1}", current, T("Filtering.SpecificationFilter.Separator")), next.SpecificationAttributeOptionName))
                        </li>
                    }
                </ul>
            </div>
            <div class="remove-filter">
                <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
            </div>
        }
    </div>
}